APP_ENV=dev
APP_DEBUG=1
#APP_ENV=dev
#APP_DEBUG=1
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
# Format described at http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# For a sqlite database, use: "sqlite:///%kernel.project_dir%/var/data.db"
# Set "serverVersion" to your server version to avoid edge-case exceptions and extra database calls
# DATABASE_URL=mysql://xs679489_pro:SZsnd7tDN7re@localhost/xs679489_buzzdrop
DATABASE_URL=mysql://kyo:kyo@mysql:3306/buzzdrop
# The version of your database engine
DATABASE_SERVER_VERSION=10.5.11-MariaDB-log
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
#MAILER_URL=smtp://shopmaster:vU5LbapY@kyogokupro.sakura.ne.jp:25?auth_mode=plain
#MAILER_URL=smtp://kyogokupro.sakura.ne.jp:587?encryption=tls&username=shopmaster@kyogokupro.com&password=vU5LbapY
MAILER_URL=sendmail://localhost
###< symfony/swiftmailer-bundle ###

###> APPLICATION CONFIG ###
# EC-CUBE Configs. The default value is defined in app/config/packages/eccube.yaml.
# Please remove commented out and enable it if you want to change.

#ECCUBE_LOCALE=ja
#ECCUBE_TIMEZONE=Asia/Tokyo
#ECCUBE_CURRENCY=JPY
#ECCUBE_ADMIN_ROUTE=admin
#ECCUBE_USER_DATA_ROUTE=user_data
#ECCUBE_ADMIN_ALLOW_HOSTS=[]
#ECCUBE_FORCE_SSL=false
#ECCUBE_TEMPLATE_CODE=default
#ECCUBE_AUTH_MAGIC=<change.me>
#ECCUBE_COOKIE_NAME=eccube
#ECCUBE_COOKIE_PATH=/
ECCUBE_COOKIE_LIFETIME=2592000
ECCUBE_GC_MAXLIFETIME=2592000

###< APPLICATION CONFIG ###

ECCUBE_AUTH_MAGIC=c4Izoevgz8rXYQh86gJqtnev71KML2Ja
ECCUBE_ADMIN_ALLOW_HOSTS=[]
ECCUBE_FORCE_SSL=true
ECCUBE_ADMIN_ROUTE=mastercontrol
ECCUBE_COOKIE_PATH=/
ECCUBE_TEMPLATE_CODE=default
ECCUBE_LOCALE=ja
SALON_SUPPLIER_CATEGORY=サロン様仕入れ
# STRIPE_PUBLIC_KEY=pk_live_YOUR_KEY_HERE
# STRIPE_SECRET_KEY=sk_live_YOUR_KEY_HERE


META_PIXEL_ID=xxx