{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'registration_page' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '新會員註冊（已完成）'|trans }}</h1>
        </div>
    </div>
    <div class="ec-registerCompleteRole">
        <div class="ec-off3Grid ec-text-ac">
            <div class="ec-off3Grid__cell">
                <div class="ec-reportHeading">
                    <h2>{{ '感謝您註冊成為會員'|trans }}</h2>
                </div>
                <p class="ec-reportDescription">{{ '會員註冊已成功 
                祝您購物愉快!
'|trans|nl2br }}</p>
                <div class="ec-off4Grid">
                    <div class="ec-off4Grid__cell">
                        <a class="ec-blockBtn--cancel" href="/feed/">{{ '前往影片動態'|trans }}</a>
                    </div>
                </div>
                <p class="ec-reportDescription" style="margin-top:10px;color:#888;">3秒後自動跳轉...</p>
                <script>
                    setTimeout(function() { window.location.href = '/feed/'; }, 3000);
                </script>
            </div>
        </div>
    </div>
{% endblock %}