{% set ProductClass = CartItem.ProductClass %}
{% set PinpointSaleItem = ProductClass.PinpointSaleItem %}
{% if PinpointSaleItem is not null and PinpointSaleItem.active %}
    {% if pinpointSaleIndex is defined %}
        {% set suffix = pinpointSaleIndex %}
    {% else %}
        {% set suffix = '_d_'~ProductClass.id %}
    {% endif %}
    <div id="pinpoint_sale_price_{{ suffix }}" class="ec-color-accent" style="font-size: 14px;">
        ({{ discountName }}：-{{ PinpointSaleItem.DiscountPriceIncTax|number_format }}TWD × {{ CartItem.quantity }})
    </div>
{% endif %}
