<div class="ec-productRole__pinpoint_sale_default">
    {{ discountName }}{{ '前価格'|trans }}： <span id="pinpoint-default" class="pinpoint-default"></span>
    {# <span class="ec-productRole__priceRegularTax">{{ '税込'|trans }}</span> #}
</div>
