<script>
/*
    // ダウンロードページへのリンクを追加する
    $(function() {
        var $dlc_button = $("<a href=\"{{ url('sheeb_dlc_downloads') }}\" class=\"ec-blockBtn--action load-overlay dlc-button\">{{ 'sheeb.dlc.mypage.button.to.download'|trans }}</a>");
        var $target = $('.ec-welcomeMsg');
        $target.append($dlc_button);
    });
*/
</script>

<style>
    .dlc-button {
        width: 50%;
        margin: 15px auto 0 auto;
    }
</style>