{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}

<article id="aboutshop">
	<section>
		<h1 class="page-area-title">ABOUT</h1>
		<div class="messagebox">
            <p class="centertext">
あなたのベストヘアドレッサー、Ryu Hair Artistです！<br>
僕の人生は、美容業界に入る前まで、本当に<br>
目標も無くチンタラと日々過ごしていました。<br>
<br>
しかし僕の転機は、訪れました。<br>
<br>
「美容師」として「Hair Artist」として一生やり続けると確信したのです。<br>
<br>
みなさんが知っている通り僕は普段YouTubeでヘアカラーの動画をあげたり、<br>
たくさんの美容師がヘアカラーで、お客様になりたいイメージを提供出来る様全国•講習活動を積極的に、行なっています。<br>
今では、アジアからの依頼も多く勉強の日々を過ごしています。<br>
そして、世界大会へ優勝🏆常に世界への挑戦と色々な場所•シーンでより良いプレゼンテーションの出来る人•技術•商材に出逢いました。<br>
<br>
そんな経験から「KYOGOKU PROFESSIONAL」というみんなが使いやすい商材を武器に<br>
プロである皆さん「Hair Artist」に焦点を当！<br>
もっともっと美容業界を盛り上げて、お客様に喜んで頂ける環境を作る。<br>
<br>
そんな僕の世界観が、「KYOGOKU PROFESSIONAL」です。<br>
<br>
「京極 琉」僕自身そのものなのです。<br>
<br>
美容の歴史を残せるそんな僕で挑戦し続けて行きます。<br>
<br>
みなさん宜しくお願い致します。<br>
            </p>
			<iframe src="https://www.youtube.com/embed/6L6IKt280m8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
	</section>
</article>

{% endblock %}