{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
	<article id="about">
		<section>
			<h1 class="page-area-subtitle">本網站使用條款</h1>

            <div class="messagebox">
                <h2>关于付款方式</h2>
                <p>
                本网站作为一项服务向访问者提供服务。当访问者使用本网站时，某些网站可能会要求访问者提供个人信息（用于查询、调查问卷、电子邮件注册等）。我们提供一些服务以方便您。 <br>
                我们要求的信息是 Taiwan, Inc.（以下简称“我们公司”）提供服务时您的姓名、电子邮件地址、电话号码、地址、账单地址等以及与服务相关的信息。主要信息是这样做时所需的个人信息。此外，为了提高访问网站的便利性，我们可能会要求提供其他信息，但访问网站的人可以选择这些信息，但访问者可以自愿提供最少的必要项目。它。请注意，未经访问该网站的人同意，我们不会修改我们收到的信息。 <br>
                请注意，根据本网站提供的服务类型，我们要求的信息可能会传达给第三方（例如，您的姓名和地址可能会传达给外包送货或其他服务的公司）。 。 <br>
                我们将在合理范围内采取必要措施保护本网站访问者的隐私。根据本网站上的服务，我们可能会从访问者那里收到高度机密的信息（例如网络货币或信用卡号码），但在这种情况下，我们将努力使用加密等方法。保护。 <br>
                本公司可能会修改上述政策。在这种情况下，所有修订都将在此网站上通知。 <br>
                </p>

                <h2>关于cookies</h2>
                <p>
                本网站可能会使用 cookie，以便您在再次访问本网站时更加方便、安全。 <br>
                Cookie 是发送到访问本网站的人的互联网查看软件（浏览器）并记录在访问者的计算机上的信息。但是，记录的信息不包括访问该网站的人的姓名、地址、电话号码、电子邮件地址等。此外，它不会对访问它的人的计算机产生任何负面影响。 <br>
                您可以通过调整您的互联网查看软件（浏览器）的设置来拒绝接收cookie。在这种情况下，浏览不会有问题，但您将无法使用一些需要身份验证的服务（客户自助服务）。请联系各个软件制造商，了解如何设置 cookie 和其他浏览器设置的信息。 <br>
                </p>

                <h2>保证和责任限制</h2>
                <p>
                使用本网站由访问者负责。 <br>
 对于因使用从本网站或与本网站链接的其他网站获得的各种信息而造成的任何损害，我们不承担任何责任。 <br>
 本公司可能会更改本网站上发布的全部或部分内容，恕不另行通知客户。请注意，我们不承诺更新本网站。 <br>
 由于通信环境、访问者的计算机环境或其他原因，本网站可能无法正常使用。 <br>
 我们可能会暂停或终止本网站，恕不另行通知。 <br>
                </p>

                <h2>适用法律和管辖法院</h2>
                <p>
                该网站由我们管理。 <br>
 尽管可以从世界各地具有不同法律的国家访问本网站，但访问本网站的人和我们公司均须遵守日本有关使用本网站的法律，无论法律原则有何差异，并同意遵守。受东京都政府条例的约束。 <br>
 此外，我们公司不会在本网站上做出任何声明或表明本网站的内容适合访问该网站的人的环境。访问本网站是基于访问该网站的人的自由意志，访问该网站的人对本网站的使用负责。 <br>
 与使用本网站有关的所有争议，除非另有规定，均应由东京地方法院一审专属管辖。 <br>
                </p>
            </div>
		</section>
	</article>
{% endblock %}