{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
	<article id="privacy">
		<section>
			<h1 class="page-area-subtitle">隱私政策</h1>

            <div class="messagebox">
                <p>
                    公司抬頭：果然有魚國際行銷有限公司<br>
                    公司統編：93769596<br>
                    公司地址：台中市南屯區文心路一段218號19樓之3<br>
                    公司電話：04-25320179<br>
                    本公司根据个人信息保护法，按照本隐私政策处理个人信息。本隐私政策是我们的客户和我们公司之间关于处理向我们披露的个人信息的承诺。
					<br>
					<br>
                    1.个人信息的使用目的<br>
                    本公司将个人信息用于以下目的。<br>
					<br>
                    1) 我们使用您的联系信息（例如您的姓名、地址和电话号码）将产品运送给您并向您收取费用。此外，我们可能会使用您在计费时指定的付款信息，例如信用卡号和银行帐户。<br>
					<br>
                    2) 为了联系或确认您的订单、送货方式等详细信息，请向我们提供您的姓名、地址、电子邮件地址等联系信息，以及您购买的产品类型、数量等信息。已订购，我将使用该金额。<br>
					<br>
                    3) 我们使用您的使用历史记录和联系信息（例如您的姓名、地址和电子邮件地址）来向您通报我们的活动、产品和服务。<br>
					<br>
                    4) 为了改进我们的服务，我们使用从客户那里收到的意见、调查结果、使用历史记录等。<br>
					<br>
                    5) 我们使用您的联系信息（例如您的姓名、地址和电子邮件地址）来回复您的请求和询问。<br>
					<br>
                    6) 为了使您能够查看订单状态，我们将向 Rakuten, Inc. 提供并显示您订购的产品类型和数量以及向您收取的金额等信息。<br>
					<br>
                    7) 为了拒绝那些出于欺诈目的订购产品的人使用我们的服务，我们将收集客户的姓名、地址、订购的产品类型以及确定用于欺诈目的的交易信息。例如数量和信用卡公司的账单金额等。<br>
					<br>
					<br>
                    2.关于个人信息的管理<br>
                    本公司使用以下系统管理个人信息。<br>
					<br>
                    1) 对于系统中存储的个人信息，我们提供帐户和密码并管理访问权限，以便只有工作需要的员工才能使用。请您注意，您的账户和密码将受到严格管理，防止泄露或丢失。。<br>
					<br>
                    2) 为了通过互联网传输与个人信息相关的数据时的安全性，我们在必要的网页上使用 SSL（一种行业标准加密通信）。<br>
					<br>
                    3) 个人信息自收到之日起经过一定时间后，在服务没有问题的情况下，将随时删除。<br>
					<br>
					<br>
                    3.关于第三方提供<br>
                    下订单时，您必须了解本隐私政策并同意1.6）和7）中所述信息的提供，然后才能下订单。<br>
                    此外，我们有义务根据BuzzDrop Co., Ltd.的隐私政策对提供给Taiwan Co., Ltd.的信息采取严格的管理制度。<br>
					<br>
					<br>
                    4.关于个人信息的公开<br>
                    1) 未经您的同意，我们不会向第三方披露个人信息。但是，以下情况除外。<br>
                    ・根据法律法规，法院或警察等公共机构有要求时<br>
                    ・法律法规有特殊规定时<br>
                    ・存在对顾客或第三方的生命、身体、财产造成损害且无法取得本人同意时<br>
                    ・当需要保护或捍卫我们的权利、财产或服务免受违反法律或我们的使用条款/预防措施的行为，而我们无法获得个人同意时。<br>
					<br>
                    2) 如果客户要求披露个人信息，只有在能够确认客户身份的情况下才会披露该信息。 <br>
                    注：如何确认您的身份<br>
                    请向我们发送一份可以证明您身份的复印件（驾驶执照、保险卡等）。 <br>
                    一旦明确该人为本人，我们将尽快确认内容并披露信息。 <br>
                    <br>
                    3）“向第三方提供个人信息”
 未经您的同意，我们不会向第三方披露个人信息。 <br>
 但是，以下情况除外。 <br>
・当支付公司向支付公司披露个人信息以进行身份​​验证、账单地址确认以及支付公司的信用检查时<br>
                </p>
            </div>
		</section>
	</article>
{% endblock %}