{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
	<article id="term">
		<section>
			<h1 class="page-area-subtitle">基於特定商業交易法之描述</h1>

            <div class="messagebox">
                <dl>
                    <dt>分销商</dt>
                    <dd>果然有魚國際行銷有限公司 </dd>
                    <dt>代表责任者</dt>
                    <dd>铃木正树</dd>
                    <dt>所在地</dt>
                    <dd>台中市潭子區勝利路89號</dd>
                    <dt class="height1">电话号码</dt>
                    <dd class="height1">TEL 04-25320179　<br class="sp"><br>（如有疑问，请使用下面的电子邮件）</dd>
                    <dt>公共电子邮件地址</dt>
                    <dd>fish.intermarketing@gmail.com</dd>
                    <dt>主页网址</dt>
                    <dd>fish.intermarketing@gmail.com</dd>
                    <dt>售价</dt>
                    <dd>请参阅产品介绍页面。</dd>
                    <dt class="height1">产品价格以外的必要费用</dt>
                    <dd class="height1">消费税、运费（全国880日元。购买超过5,500日元（含税）免运费。） *冲绳、部分地区、偏远岛屿需加收2,800日元的中继费。 <br>延期付款费用：380日元（含税）
                    <br>仅限国内运输
                    </dd>
                    <dt>交货时间</dt>
                    <dd>约6天（请注意因天气造成的时间差异）</dd>
                    <dt>付款方式</dt>
                    <dd>信用卡、延期付款（便利店/银行）</dd>
                    <dt class="height2">退货、换货、取消等</dt>
                    <dd class="height2">产品发货后，我们不接受退货或退款。 如果产品有缺陷，我们将换成好的产品。 <br>如有损坏，我们将赔偿。所有其他费用均由客户承担。 </dd>
                    <dt>退货期</dt>
                    <dd>请在产品发货后 7 天内联系我们。</dd>
                    <dt>退货运费</dt>
                    <dd>如果产品有缺陷，我们将承担费用。所有其他费用均由客户承担。送货范围
                    仅限国内运输</dd>
                    <dt>营业时间</dt>
                    <dd>10:00～24:00(无固定休息日)</dd>
                </dl>
            </div>
		</section>
	</article>
{% endblock %}