{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
	<article id="term">
		<section>
			<h1 class="page-area-subtitle">基於特定商業交易法之描述</h1>

            <div class="messagebox">
                <dl>
                    <dt>販售業者</dt>
                    <dd>京極國際股份有限公司</dd>
                    <dt>統一編號</dt>
                    <dd>60632265</dd>
                    <dt>代表人</dt>
                    <dd>簡孜仔</dd>
                    <dt>所在地</dt>
                    <dd>臺中市南屯區環中路三段1388之1號</dd>
                    <dt class="height1">電話號碼</dt>
                    <dd class="height1">TEL 04-25320179　<br class="sp"><br>（如有疑問，請使用下方電子郵件聯繫）</dd>
                    <dt>電子郵件地址</dt>
                    <dd>support@kyogokupro.com</dd>
                    <dt>官方網站</dt>
                    <dd>https://tw.kyogokupro.com</dd>
                    <dt>售價</dt>
                    <dd>請參閱各商品介紹頁面。</dd>
                    <dt class="height1">商品價格以外的必要費用</dt>
                    <dd class="height1">運費：全台灣統一運費。購買滿3,500元（含稅）免運費。<br>詳細運費資訊請參閱購物說明頁面。</dd>
                    <dt>交貨時間</dt>
                    <dd>約3～7個工作天（請注意因天氣或物流狀況造成的時間差異）</dd>
                    <dt>付款方式</dt>
                    <dd>信用卡</dd>
                    <dt class="height2">退貨、換貨、取消等</dt>
                    <dd class="height2">商品出貨後，我們不接受退貨或退款。如商品有瑕疵，我們將為您更換良品。<br>如有損壞，我們將進行賠償。所有其他費用均由顧客承擔。</dd>
                    <dt>退貨期限</dt>
                    <dd>請於收到商品後7天內聯繫我們。</dd>
                    <dt>退貨運費</dt>
                    <dd>如商品有瑕疵，運費由本公司承擔。其他情況之退貨運費由顧客承擔。</dd>
                    <dt>營業時間</dt>
                    <dd>10:00～24:00（全年無休）</dd>
                </dl>
            </div>
		</section>
	</article>
{% endblock %}
