{% extends 'home_frame.twig' %}
{% set body_class = 'front_page' %}
{% block main %}
<link rel="stylesheet" href="{{ asset('assets/css/page_beauty_supervisor.css') }}">
<div class="beauty-supervisor-contents">
    <div class="beauty-supervisor-main">
        <h2 class="beauty-supervisor-title">監修者名</h2>
        <div class="supervisor-info spacing-content">
            <img src="/html/template/default/assets/img/supervisor-avatar.png" alt="" class="supervisor-image">
            <div class="supervisor-name">京極 琉（Ryu Kyogoku）
                KG</div>
        </div>

        <h2 class="beauty-supervisor-title">個人介紹</h2>
        <div class="personal-introduction spacing-content">
            <p class="personal-introduction-content">
                京極琉是享譽全球的「世界第一美髮師」，也是日本知名美髮品牌 「KYOGOKU」卡雅仕的創辦人。他憑藉獨創的剪裁與染髮技術，在亞洲及全球美髮界掀起風潮，並獲得無數專業人士與明星的推崇。
                他的作品頻繁出現在巴黎、米蘭、東京時裝週**，並為VOGUE、ELLE、GQ 等時尚雜誌的攝影大片與封面提供造型設計。
                京極琉不僅是一位頂級髮型設計師，更是亞洲各國美髮師的導師，至今已指導超過10萬名專業美髮師，並在亞洲各大沙龍舉辦技術講座，致力於推動全球美髮產業的進步。
                他始終堅持：
                「完美的髮型，不只是美觀，而是能展現個人魅力，提升自信。」
                如今，他的專業技術與卡雅仕品牌正式進入台灣市場，希望幫助台灣消費者透過專業級美髮護理，打造專屬於自己的極致造型。
            </p>
        </div>

        <h2 class="beauty-supervisor-title">経歴</h2>
        <div class="biography spacing-content">
            <ul>
                <li>KYOGOKU卡雅仕品牌創辦人</li>
                <li>獲選為「世界第一美髮師」</li>
                <li>巴黎、米蘭、東京時裝週官方指定髮型師</li>
                <li>亞洲各國超過10萬名專業美髮師的技術導師</li>
                <li>VOGUE、ELLE、GQ 等國際時尚雜誌合作髮型設計師</li>
                <li>多位亞洲明星、名流、時尚KOL的指定造型師專業認證</li>
            </ul>
        </div>

        <h2 class="beauty-supervisor-title">專業認證</h2>
        <div class="professional-certification spacing-content">
            <ul>
                <li>日本美容師執照</li>
                <li>國際美髮師專業資格認證</li>
                <li>亞洲美髮技術協會認證講師</li>
            </ul>
        </div>

        <h2 class="beauty-supervisor-title">官方機構網址</h2>
        <div class="official-website spacing-content">
            <ul>
                <li>
                    <a target="_blank" href="https://kyogokupro.com/">日本官方網站</a> <br>
                </li>
                <li>
                    <a target="_blank" href="https://tw.kyogokupro.com/">台灣官方網站</a> <br>
                </li>
                <li>
                    <a target="_blank" href="https://ja.wikipedia.org/wiki/京極琉">維基百科</a> <br>
                </li>
                <li>媒體報導（部分節錄） <br>
                    <a target="_blank" href="https://www.wwdjapan.com/articles/1554547">WWD JAPAN</a> <br>
                    <a target="_blank" href="https://haircamp.jp/magazines/ryu_kyogoku_1">HAIRCAMP</a> <br>
                    <a target="_blank" href="https://www.beautopia.jp/82047/">BEAUTOPIA</a> <br>
                    等等多篇專訪報導
                </li>
                <li class="social-link" style="margin-top: 10px;">社群媒體連結 <br>
                    台灣 <br>
                    <a target="_blank" href="https://www.instagram.com/ryukyogoku/">Instagram（台灣）</a> <br>
                    <a target="_blank" href="https://www.tiktok.com/@ryukyogoku_tw">TikTok（台灣）</a> <br>
                    <a target="_blank" href="https://www.youtube.com/@ryukyogoku_tw">YouTube（台灣）</a> <br>
                    日本 <br>
                    <a target="_blank" href="https://www.instagram.com/ryuhairartist/">Instagram（日本）</a> <br>
                    <a target="_blank" href="https://www.tiktok.com/@ryukyogoku">TikTok（日本）</a> <br>
                    <a target="_blank" href="https://www.youtube.com/@ryuhairartist">YouTube（日本）</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}