{% extends 'default_frame.twig' %}

{% block main %}

	<article id="about">
		<section>
			<h1 class="page-area-subtitle">付款問題、產品出貨與退貨</h1>

            <div class="messagebox">
                <h2>关于付款方式</h2>
            	<div>
                	<p>【信用卡】<br>
                	除了 Visa、MasterCard、JCB、AMEX、Diners 之外，我们还接受日本各信用卡公司发行的信用卡。</p>
            	</div>
            	<div>
        <p>以后支付
		<div>
		<a href="https://paidy.com/payments/" target="_blank">
			<img src="https://download.paidy.com/CO-banner-728x90.png" style="margin-bottom:15px;" alt="以后支付">
		</a>
		</div>
		无需信用卡。<br>
<br>
使用电子邮件地址和手机号码轻松付款。<br>
<br>
多次付款可以合并并在下个月的 10 日支付。<br>
<br>
您也可以分 3 期付款 *通过 Paydy 应用程序申请 点击此处了解详情<br>
有关佩迪的更多信息<a href="https://paidy.com/payments/" target="_blank">https://paidy.com/payments/</a><br>
					</p>
            	</div>
                <h2>关于产品运输</h2>
                <p>
					<span class="gler_box">购买满 5,500 日元（含税）免运费</span><br>
					全国统一运费：880日元/供应商：大和运输<br>
					※无法指定送货公司。<br>
					※冲绳、部分地区、孤岛需加收2,800日元的中继费。<br>
					<br>
					如果您有所需的交货日期，请注明。<br>
					时区可以指定为[上午]、[14:00时-16:00时]、[16:00时-18:00时]、[18:00时-21:00时]。<br>
                </p>

                <h2>关于退货</h2>
                <p>
				・请于收到商品后7天内进行退货或换货。<br>
				・如果您收到的商品与订购的商品不同或商品有破损，则退货、换货的运费将由 BuzzDrop Co., Ltd. 承担。 <br>
				・ 如果因顾客方便原因要求退货或换货，退货运费将由顾客承担。 <br>
				※请注意，如果由于长期缺席等原因退回商品，我们将根据客户的方便情况进行处理。 <br>
				・ 已打开或部分使用的产品无法退货或换货。 <br>
				・如果您想退货，请在退货前联系我们。 <br>
				*请使用查询表联系我们<br>
					<span class="clear_box">
					回信地址：〒293-0021 <br class="sp">千叶县富津市富津51-10<br>
						有限公司 Taiwan<br>
					</span>
                </p>
            </div>
		</section>
	</article>

{% endblock %}