{% extends 'default_frame.twig' %}

{% block main %}

	<article id="artist">
		<section>
			<h1 class="page-area-title">#KGPro</h1>

            {{ get_artistlist() }}

		</section>
	</article>

{% endblock %}