{% extends 'default_frame.twig' %}

{% block main %}

<article id="aboutshop">
	<section>
		<h1 class="page-area-title">【お知らせ】KYOGOKU PROFESSIONALシステムメンテナンスのお知らせ</h1>
		<div class="messagebox">
            <p class="centertext">
KYOGOKU PROFESSIONALの臨時システムメンテナンスを下記のスケジュールで実施いたします。<br>
これに伴い、KYOGOKU PROFESSIONALをご利用いただけない時間がございます。<br>
ご確認のほど、何卒よろしくお願いします。<br>
<br>
<br>
■システムメンテナンス<br>
<br>
　影響 ：KYOGOKU PROFESSIONAL<br>
　期間 ：2019年11月22日（金）0:00 ～ 12:00頃<br>
<br>
※ 利用停止中に当該画面へアクセスするとメンテナンス中の画面が表示されます。<br>
※ メンテナンスが完了し次第利用を再開する為、再開時刻は多少前後する可能性があります。<br>
            </p>
        </div>
	</section>
</article>

{% endblock %}