{% extends 'default_frame.twig' %}

{% block main %}

	<article id="recipepage">
		<section>
			<h1 class="page-area-title">RECIPE</h1>
			{{ get_recipelist() }}
		</section>
	</article>

{% endblock %}