{% extends 'default_frame.twig' %}

{% block main %}

<article id="privacy">
		<section>
			<h1 class="page-area-subtitle">採用情報</h1>

            <div class="">

                <a href="https://cjsym1ka.autosns.app/addfriend/s/vLpDr75wg9/@652uqkxo" title="採用情報"><img src="/html/template/default/assets/img/recruit.jpg"></a>

                <p>
                    
                </p>
            </div>
		</section>
	</article>

{% endblock %}