<span id="a8sales"></span>
<script src="//statics.a8.net/a8sales/a8sales.js"></script>
<script>
    a8sales({
    "pid": "s00000023337001",
    "order_number": "41631",
    "currency": "JPY",
    "items": [
                {
        "code": "kg4",
        "price": 2970.00,
        "quantity": 2
      },
                {
        "code": "kg138",
        "price": 1100.00,
        "quantity": 1
      },
        ],
    "total_price": 7040
  });
</script>