    <div class="ec-modal ec-onclick kg-cube" id="ec-oneclick" style="overflow-y:scroll;-webkit-overflow-scrolling:auto;">
        <div style="text-align:right;"><button id="item-close" class="plainmodal-close">× 閉じる</button></div>
        <div id="ec-modal-content" class="onsubmit-iframe">
            <div id="item-imgGrid" class="item-text"><!-- 商品 --></div>
            <div id="item-addr" class="item-text" style="font-weight:bold;"><!-- お届け先 --></div>
            <div id="item-pay_method" class="item-text" style="display:none"><!-- 支払方法 --></div>

            <div id="item-body" class="item-text ec-select" style="margin-bottom:1em;overflow:hidden;max-width:100%;"><!-- 支払方法選択 --></div>
            <div id="item-pay_credit" class="item-text"><!-- クレジットカード --></div>
            
            <div id="item-total"><!-- お支払合計 --></div>
            <div id="item-slider" style="margin-top:1em;background-color:white;width:90%;margin-left:5%;margin-right:5%">
                <div id="swipe-slider1" data-lock-text="スワイプして注文" data-unlock-text="処理中" class="col-5"> </div>
            </div>
            <div style="text-align:right;font-size:0.8em;margin-top:1em;"><a style="color:#aaa" href="/shopping">お届け先変更、内容の確認 &gt;&gt; </a></div>
            <div>
                <div style="font-size:0.7em;margin-top:1em;">「注文を確定する」ボタンを押してご注文をいただくことで、お客様は当サイトの各種規約、プライバシー規約および当サイト上の販売条件に同意の上、商品をご注文されたことになります。価格については必ず商品ページおよびこちらをご確認ください。</div>
            </div>
        </div>        
    </div>

    <div id="ec-oneclick-iframe" class="iframe-wrap" style="display:none;position:absolute;right:0;top:0;width:0px;height:0px;z-index:-999999999999999999"></div>
        