{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '隐私政策'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <p>
                鉴于保护个人信息的重要性，我们将遵守《个人信息保护法》及本隐私政策，努力保护客户的隐私。
                </p>
            </div>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-heading-bold">个人信息的定义</div>
                <p>个人客户信息（以下简称“个人信息”）是指客户的姓名、地址、电话号码等能够识别个人客户身份的信息。它还包括与其他信息结合时可用于识别个人身份的信息。 </p>
            </div>
        </div>
    </div>
{% endblock %}
